<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Scrapping Api</title>
  </head>
  <script>
    const date = '<%= todaysDate %>';
  </script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
    body {
      font-family: 'Roboto', sans-serif;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: gray;
    }
    a {
      color: black;
    }
  </style>
  <body>
    <h1>FLIGHTS API SCRAPPED</h1>
    <p style="text-align: center">
      This is a api scrapped from web sources from different web flights
      provider. currently this api supports only one way.
    </p>
    <br />
    <h3>endpoint : https://flights.joshuadaniel.me/:from/:to/:date</h3>
    <p>:from = Airport IATA, example : (DEL,BLR)</p>
    <p>:to = Airport IATA, example : (DEL,BLR)</p>
    <p>:date = Date in the format (datemonthyear = 01012022)</p>
    <br />

    <p>examples</p>
    <a id="del" href="">DEL-MAA</a>
    <br />
    <a id="blr">BLR-CJB</a>
    <br />
    <a id="bom">BOM-DXB</a>
    <script>
      document.getElementById('del').setAttribute('href', `/DEL/MAA/${date}`);
      document.getElementById('blr').setAttribute('href', `/BLR/CJB/${date}`);
      document.getElementById('bom').setAttribute('href', `/BOM/DXB/${date}`);
    </script>
  </body>
</html>
